body {
  background-color: #b3d1ff;
}

img {
  height: auto;
  width: 400px;
}

img.mood-imgs {
  height: 200px;
  width: 200px;
}

button {
  margin: 10px;
}

.error {
  font-weight: bolder;
  color: #a94442;
  display: none;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

label {
  margin-top: 15px;
  font-size: 15px;
}
.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/wizard.jpg);
    background-position: 0% 25%;
    background-size: auto;
    background-repeat: repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

#sloth {
  display: none;
}

#bizCat {
  display: none;
}

#manBearPig {
  display: none;
}
