img {
  height: auto;
  width: 400px;
}

img.mood-imgs {
  height: 200px;
  width: 200px;
}

button {
  margin: 10px;
}

.error {
  font-weight: bolder;
  color: #a94442;
  display: none;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

#blanks {
  align-content: : center;
}

#sloth {
  display: none;
}

#bizCat {
  display: none;
}

#manBearPig {
  display: none;
}
